.Button {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.Button:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
}

.Button:focus, .Button:active {
    outline: none;
}

.Button:disabled{
    color: black;
    cursor: not-allowed;
}

.error{
    background-color: rgba(240, 87, 108, 1);
}

.success{
    color: black;
    background-color: rgba(161, 240, 69, 1);
}

.primary{
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}
